body {
    background-color: rgb(190, 215, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ffffff;
    text-align: center;
    width: 300px;
    padding: 20px;
    height: 85%;
    border-radius: 10px;
    overflow: hidden;
  }
.container {
    margin-bottom: 20px;
  }
  img {
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
  }

  .text p {
    color: gray
  }